.u-flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.u-flex {
  display: -ms-flexbox;
  display: flex;
}
.u-flex-reverse {
  -ms-flex-order: 2;
  order: 2;
}
.u-flex-child {
  -ms-flex: 1;
  flex: 1;
  margin-right: 20px;
}
.u-flex-child:last-child {
  margin-right: 0;
}
@media screen and (max-width: 600px) {
  .u-flex-child {
    margin-right: 0;
  }
}
.u-flex-child--static {
  -ms-flex: none;
  flex: none;
}
.u-flex-child--w-33 {
  -ms-flex: 0 1 calc(33.3% - 20px);
  flex: 0 1 calc(33.3% - 20px);
}
@media screen and (max-width: 600px) {
  .u-flex-child--w-33 {
    width: 100%;
  }
}
.u-flex--m-b {
  margin-bottom: 30px;
}
.u-flex--m-b-sm {
  margin-bottom: 15px;
}
.u-flex-center {
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 600px) {
  .u-flex {
    display: block;
  }
}

/*
























*/
.l-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1040px;
  padding: 0 16px;
  position: relative;
}
.l-container--xs {
  max-width: 660px;
}
.l-container--sm {
  max-width: 760px;
}
.l-container--md {
  max-width: 960px;
}
.l-container--lg {
  max-width: 1240px;
}
.l-container--xl {
  max-width: none;
  padding: 0 48px;
}
@media screen and (min-width: 1680px) {
  .l-container--xl {
    max-width: 1680px;
  }
}
@media screen and (max-width: 980px) {
  .l-container {
    padding: 0 16px;
  }
}
.l-grid {
  display: inline-block;
  position: relative;
  width: 100%;
}
.l-grid--flex {
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 600px) {
  .l-grid--flex {
    display: block;
  }
}
.l-grid--has-gutters {
  margin-left: -8px;
  width: calc(100% + 16px);
}
.l-grid:after {
  content: "";
  display: table;
  clear: both;
}
.l-grid__column {
  float: left;
}
.l-grid__column--12 {
  width: 100%;
}
.l-grid__column--11 {
  width: 91.66667%;
}
.l-grid__column--10 {
  width: 83.33333%;
}
.l-grid__column--9 {
  width: 75%;
}
.l-grid__column--8 {
  width: 66.66667%;
}
.l-grid__column--7 {
  width: 58.33333%;
}
.l-grid__column--6 {
  width: 50%;
}
.l-grid__column--5 {
  width: 41.66667%;
}
.l-grid__column--4 {
  width: 33.33333%;
}
.l-grid__column--3 {
  width: 25%;
}
.l-grid__column--20 {
  width: 20%;
}
.l-grid__column--2 {
  width: 16.66667%;
}
.l-grid__column--1 {
  width: 8.33333%;
}
.l-grid__column--relative {
  position: relative;
}
.l-grid__column--centered {
  float: none;
  margin: 0 auto;
}
.l-grid--has-gutters .l-grid__column {
  padding-left: 8px;
  padding-right: 8px;
}
.l-grid--flex .l-grid__column {
  display: -ms-flexbox;
  display: flex;
}
.l-grid--flex .l-grid__column--no-flex {
  display: block;
}
.l-grid__column--offset-3 {
  margin-left: 25%;
}
.l-grid__column--offset-1 {
  margin-left: 8.33333%;
}
@media screen and (max-width: 600px) {
  .l-grid__column--offset-1 {
    margin-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .l-grid__column--space-s {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 600px) {
  .l-grid__column {
    width: 100%;
  }
  .l-grid__column--5-s {
    width: 41.66667%;
  }
  .l-grid__column--6-s {
    width: 50%;
  }
  .l-grid__column--7-s {
    width: 58.33333%;
  }
}
.l-section {
  position: relative;
}
@media screen and (max-width: 600px) {
  .l-section {
    overflow: hidden;
  }
}
.l-section--pad-top {
  padding-top: 150px;
}
@media screen and (min-width: 600px) and (max-width: 980px) {
  .l-section--pad-top {
    padding-top: 100px;
  }
}
@media screen and (max-width: 600px) {
  .l-section--pad-top {
    padding-top: 50px;
  }
}
.l-section--pad-top-md {
  padding-top: 100px;
}
.l-section--pad-bottom {
  padding-bottom: 150px;
}
@media screen and (min-width: 600px) and (max-width: 980px) {
  .l-section--pad-bottom {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 600px) {
  .l-section--pad-bottom {
    padding-bottom: 50px;
  }
}
.l-section--padded-xs {
  padding-top: 50px;
  padding-bottom: 150px;
}
@media screen and (max-width: 600px) {
  .l-section--padded-xs {
    padding-top: 100px;
  }
}
.l-section--padded-md {
  padding-top: 100px;
  padding-bottom: 100px;
}
.l-section:last-of-type {
  margin-bottom: 0;
}
.l-section--offwhite {
  background: #f9fbfc;
}
.l-section--blue {
  background: #eaf6fc;
}
.l-section--green {
  background: #f1fef4;
}
.l-section--press .c-section-pattern--circular {
  top: -60%;
}
.l-section--press .c-section-pattern--curved {
  top: 8%;
}
.l-section--press .c-section-pattern--curved::before {
  background-position: 0%;
}
@media screen and (max-width: 600px) {
  .l-section--manage-subscription {
    padding-top: 60px;
  }
}
@media screen and (max-width: 600px) {
  .l-section--has-overflow {
    overflow: initial;
  }
}
