button,
.c-button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 1.5rem;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 40px;
  line-height: 40px;
  outline: none;
  padding-left: 1.2em;
  padding-right: 1.2em;
  position: relative;
  text-decoration: none;
  transition: 0.25s cubic-bezier(0.17, 0.635, 0.54, 1.435);
  transition-property: background, box-shadow, color, transform;
  will-change: background, box-shadow, color, transform;
  font-weight: 500;
}
button.c-button--link,
.c-button.c-button--link {
  background-color: transparent;
  font-weight: 500;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  button.c-button--link,
  .c-button.c-button--link {
    line-height: 1.2;
    white-space: normal;
  }
}
button.c-button--link .c-button__text,
.c-button.c-button--link .c-button__text {
  position: relative;
  overflow: hidden;
}
button.c-button--link .c-button__text::before,
.c-button.c-button--link .c-button__text::before {
  content: "";
  position: absolute;
  top: 22px;
  left: -2px;
  width: 100%;
  height: 5px;
  z-index: -1;
  transition: 1s cubic-bezier(0.17, 0.635, 0.54, 1.435);
}
@media screen and (max-width: 600px) {
  button.c-button--link .c-button__text:before,
  .c-button.c-button--link .c-button__text:before {
    display: none;
  }
}
button.c-button--link:hover .c-button__text::before,
.c-button.c-button--link:hover .c-button__text::before {
  width: 0;
  opacity: 0.01;
}
button__icon,
.c-button__icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-item-align: center;
  align-self: center;
  padding-right: 8px;
}
button__icon svg,
.c-button__icon svg {
  transition: all 0.5s cubic-bezier(0.17, 0.635, 0.54, 1.435);
}
button__icon svg path,
.c-button__icon svg path {
  transition: stroke 0.5s cubic-bezier(0.17, 0.635, 0.54, 1.435);
}
button__icon svg circle,
.c-button__icon svg circle {
  transition: fill-opacity 0.5s cubic-bezier(0.17, 0.635, 0.54, 1.435);
}
button--primary,
.c-button--primary {
  background-color: #3bb75e;
  color: white;
  will-change: transform, box-shadow;
  transition: ease-in-out 0.3s all;
}
button--primary:hover,
.c-button--primary:hover {
  background-color: #41aa5e;
  transform: translate(0, -1px);
  box-shadow: 0 6px 2px -6px rgba(42, 134, 68, 0.6);
}
button--primary:disabled,
.c-button--primary:disabled {
  background-color: #48c46b;
  pointer-events: none;
  cursor: not-allowed;
}
button--primary:disabled .u-loader-icon,
.c-button--primary:disabled .u-loader-icon {
  opacity: 1;
}
button--primary:disabled .button__text,
.c-button--primary:disabled .button__text {
  opacity: 0;
}
button--primary.c-button--link,
.c-button--primary.c-button--link {
  color: #3bb75e;
}
button--primary.c-button--link .c-button__text::before,
.c-button--primary.c-button--link .c-button__text::before {
  background: #eaf8ee;
}
button--primary.c-button--link:hover,
.c-button--primary.c-button--link:hover {
  background: none;

  transform: translate(0);
  box-shadow: none;
  box-shadow: none;
  transform: none;
  color: #3dbf62;
}
button--primary.c-button--link:hover .c-button__icon svg path,
.c-button--primary.c-button--link:hover .c-button__icon svg path {
  stroke: white;
}
button--primary.c-button--link:hover .c-button__icon svg circle,
.c-button--primary.c-button--link:hover .c-button__icon svg circle {
  fill-opacity: 1;
}
.l-section--blue button--primary.c-button--link,
.l-section--blue .c-button--primary.c-button--link {
  color: #011b33;
}
.l-section--blue button--primary.c-button--link .c-button__text::before,
.l-section--blue .c-button--primary.c-button--link .c-button__text::before {
  display: none;
}
.l-section--blue button--primary.c-button--link:hover,
.l-section--blue .c-button--primary.c-button--link:hover {
  color: #01203d;
}
button--primary .u-loader-icon svg path,
button--primary .u-loader-icon svg rect,
.c-button--primary .u-loader-icon svg path,
.c-button--primary .u-loader-icon svg rect {
  fill: white;
}
button--secondary.c-button--link,
.c-button--secondary.c-button--link {
  color: #0ba4db;
}
button--secondary.c-button--link .c-button__icon svg path,
.c-button--secondary.c-button--link .c-button__icon svg path {
  stroke: #0ba4db;
}
button--secondary.c-button--link .c-button__icon svg circle,
.c-button--secondary.c-button--link .c-button__icon svg circle {
  stroke: #0ba4db;
  fill: #0ba4db;
}
button--secondary.c-button--link .c-button__text::before,
.c-button--secondary.c-button--link .c-button__text::before {
  background: #e6f3fb;
}
button--secondary.c-button--link:hover,
.c-button--secondary.c-button--link:hover {
  box-shadow: none;
  transform: none;
  color: #0babe5;
}
button--secondary.c-button--link:hover .c-button__icon svg path,
.c-button--secondary.c-button--link:hover .c-button__icon svg path {
  stroke: white;
}
button--secondary.c-button--link:hover .c-button__icon svg circle,
.c-button--secondary.c-button--link:hover .c-button__icon svg circle {
  fill-opacity: 1;
}
button--upload,
.c-button--upload {
  background-color: #eef2f5;
  color: #285056;
}
button--lg,
.c-button--lg {
  height: 50px;
  line-height: 50px;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.6rem;
}
button--reset,
.c-button--reset {
  padding: 0;
  outline: 0;
  height: auto;
  background: none;
  -webkit-appearance: none;
  line-height: 1;
  color: #0ba4db;
}
button--close,
.c-button--close {
  position: relative;
  width: 24px;
  height: 24px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0.75;
  transition: opacity linear 0.3s;
  background-color: transparent;
}
button--close:hover,
.c-button--close:hover {
  opacity: 0.9;
}
button--close::before,
button--close::after,
.c-button--close::before,
.c-button--close::after {
  position: absolute;
  content: "";
  width: 12px;
  height: 1px;
  display: block;
  background-color: white;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
button--close::before,
.c-button--close::before {
  transform: rotate(-45deg);
}
button--close::after,
.c-button--close::after {
  transform: rotate(45deg);
}
button--is-loading .u-loader-icon,
.c-button--is-loading .u-loader-icon {
  opacity: 1;
}
button--is-loading .c-button__text,
.c-button--is-loading .c-button__text {
  opacity: 0;
}
button--error,
.c-button--error {
  animation: shake 0.3s 1 linear;
  -webkit-animation: shake 0.3s 1 linear;
}
button--full-width,
.c-button--full-width {
  width: 100%;
}
button--disabled,
.c-button--disabled {
  cursor: not-allowed;
}
