@keyframes video-in {
  to {
    opacity: 1;
  }
}
@keyframes video-out {
  to {
    opacity: 0;
  }
}
@keyframes promptContinue {
  0%,
  70%,
  90% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(12px);
  }
}
@keyframes moveCurve {
  0%,
  20% {
    -webkit-clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
  }
  50% {
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
  51%,
  60% {
    -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  100% {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
.c-hero-video {
  width: 90%;
  max-width: 1024px;
  position: relative;
  z-index: 1000;
  transition: all 0.3s linear;
  opacity: 0;
  @include respond(phone) {
    width: 100%;
  }
  .u-overlay--is-entering & {
    animation: video-in 0.3s;
    animation-delay: 0.5s;
  }
  .u-overlay--is-visible & {
    opacity: 1;
  }
  .u-overlay--is-leaving & {
    animation: video-out 0.5s;
  }
  &--is-visible {
    opacity: 1;
  }
  &__iframe {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 1px 8px 29px rgba(0, 0, 0, 0.4);
  }
  &__iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  & .c-button--close {
    width: 24px;
    height: 34px;
    position: absolute;
    right: -32px;
    border-radius: 60px;
    top: -2px;
    opacity: 0.6;
    transition: opacity linear 0.3s;
    @include respond(phone) {
      position: fixed;
      bottom: 40px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.5;
      position: fixed;
      top: auto;
    }
    &:before,
    &:after {
      @include respond(phone) {
        content: none;
      }
    }
    & span {
      padding: 0 25px;
      border-radius: 4px;
      background-color: #ffffff30;
      border: 1px solid #ffffff29;
      line-height: 2.6;
      color: white;
    }
  }
  & .c-button--close:hover {
    opacity: 0.8;
  }
}

.c-logo {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 28px;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include respond(custom, 750px) {
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
  }
  @include respond(phone) {
    margin: 15px 0;
    height: 18px;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  &-row {
    display: -ms-flexbox;
    display: flex;
    min-height: 100px;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 2;
    @include respond(custom, 750px) {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    @include respond(phone) {
      -ms-flex-pack: start;
      justify-content: flex-start;
    }

    &--has-grid {
      margin-bottom: 5px;
      @include respond(phone) {
        display: -ms-flexbox;
        display: flex;
      }
      ~ &--has-grid {
        @include respond(phone) {
          display: none;
        }
      }
    }
    &--has-grid:last-child {
      margin-bottom: 0;
    }
    &--has-grid .c-logo {
      width: 100%;
      max-width: 150px;
      line-height: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative;
    }

    &--has-grid .c-logo:first-child {
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
    &--has-grid .c-logo:last-child {
      -ms-flex-pack: end;
      justify-content: flex-end;
      @include respond(phone) {
        -ms-flex-pack: start;
        justify-content: flex-start;
      }
    }
  }
  &:first-child {
    padding-left: 0;
    @include respond(custom, 750px) {
      padding-left: 35px;
    }
    @include respond(phone) {
      padding-left: 0;
    }
  }
  &:last-child {
    padding-right: 0;
    @include respond(custom, 750px) {
      padding-right: 35px;
    }
    @include respond(phone) {
      padding-right: 0;
    }
  }
  & > img {
    max-height: 100%;
  }
  &.u-hidden--mobile {
    @include respond(phone) {
      display: none;
    }
  }
}

.js-scaling-overlay {
  position: fixed;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  transform: scale(0.1);
  margin: -100px 0 0 -100px;
  z-index: 100;
  opacity: 0;
  background-color: #0ba4db;
  pointer-events: none;
  transition: transform 0.6s ease-in-out, background-color 0.6s ease-in-out;
  &--expanded {
    transform: scale(32);
    background-color: rgba(0, 0, 0, 0.75);
  }
}
.c-hero {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  @include respond(phone) {
    display: block;
  }
  &__body {
    max-width: 64rem;
    width: 100%;
    opacity: 1;
    transition: opacity ease-in-out 0.3s;
  }
  &__side {
    -ms-flex: 1;
    flex: 1;
  }
  &__cta {
    margin-top: 28px;
    & .c-button {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  &__continue {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 50px auto;
    text-align: center;
    color: #011b33;
    animation: promptContinue infinite ease-in-out 3s;
    font-family: sans-serif;
    z-index: 2;
  }

  &--404 {
    & h1 {
      font-size: 16rem;
    }
    & &__heading {
      margin-bottom: 30px;
    }
  }
  &--central {
    text-align: center;
  }
  &--central &__body {
    padding: 200px 0 150px;
    @include respond(phone) {
      padding-bottom: 100px;
    }
  }
  &--central-no-float:before {
    content: none;
  }
  &--has-overflow:before {
    content: "";
    position: absolute;
    left: -48px;
    right: -48px;
    bottom: -80px;
    height: 120px;
    border-radius: 6px 6px 0 0;
    background: white;
    box-shadow: 2px 0px 1px rgba(0, 0, 0, 0.02),
      -2px -2px 1px rgba(0, 0, 0, 0.02);
    z-index: 1;
  }
  &--central,
  &--pricing,
  &--form {
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &--central &__body,
  &--pricing &__body,
  &--form &__body {
    margin: 0 auto;
  }
  &--has-video &__body {
    transition-delay: 0.3s;
  }
  &--has-video + .u-overlay {
    background-color: transparent;
    background-color: rgba(0, 0, 0, 0.75);
  }
  &--pricing {
    display: block;
    padding-bottom: 0;
  }
  &--pricing &__body {
    margin: 0 auto;
    padding: 200px 0 0;
    max-width: none;
  }
  &--pricing &__heading {
    max-width: 64rem;
    margin: 0 auto;
    text-align: center;
  }
  &--pricing .c-pricing-cards {
    margin: 0 auto;
    transform: translateY(80px);
  }
  &__pricing-switch {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
  }
  &__pricing-switch--select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 3px 6px;
    padding-right: 16px;
    margin-left: 3px;
    font-family: inherit;
    color: inherit;
    background-color: #e9fced;
    border-color: #e4f6e7;
    font-weight: 500;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 7 4'%3E%3Cdefs/%3E%3Cpath fill='%23011B33' d='M3.5 4L.5.2h6L3.5 4z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 7px;
    background-position: right 6px center;
  }
  &__pricing-switch--select:focus,
  &__pricing-switch--select:hover {
    outline: none;
    border-color: #3bb75e;
  }
  &__pricing-switch--select-is-blue {
    background-color: #e2f3fa;
    border-color: #d8eaf5;
  }
  &__pricing-switch--select-is-blue:focus,
  &__pricing-switch--select-is-blue:hover {
    outline: none;
    border-color: #a0b5c5;
  }
  &--demo {
    display: block;
    padding-bottom: 0;
    margin-bottom: 50px;
  }
  &--demo &__body {
    margin: 0 auto;
    padding: 200px 0 0;
    max-width: none;
  }
  &--demo &__heading {
    max-width: 64rem;
    margin: 0 auto;
    text-align: center;
  }
  &--demo &__body {
    margin-bottom: 60px;
  }
  &--contact {
    margin-bottom: 100px;
  }
  &--contact &__body {
    margin: 0 auto;
    padding: 200px 0 0;
    max-width: none;
  }
  &--contact &__heading {
    max-width: 64rem;
    margin: 0 auto;
    text-align: center;
  }
  &--contact .c-contact-cards {
    margin: 0 auto;
    transform: translateY(80px);
  }
  &--double-sided {
    min-height: 690px;
    padding-bottom: 80px;
    @include respond(phone) {
      padding-bottom: 0;
    }
  }

  &--double-sided &__heading {
    text-align: left;
  }
  &--double-sided &__side:first-child {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  &--double-sided &__body {
    padding: 240px 0 180px;
    max-width: 56rem;
    position: relative;
    z-index: 4;
    @include respond(phone) {
      padding: 160px 0 100px;
    }
  }
  &--central-video {
    display: block;
    padding-bottom: 0;
    z-index: 10;
  }
  &--central-video &__body {
    margin: 0 auto;
    padding: 150px 0 0;
    max-width: none;
  }
  &--central-video &__heading {
    max-width: 64rem;
    margin: 0 auto;
    text-align: center;
  }
  &--central-video &-video {
    margin: 0 auto;
    transform: translateY(80px);
    opacity: 1;
    width: 100%;
    @include respond(phone) {
      transform: translateY(40px);
    }
  }

  &--form {
    display: block;
    padding-bottom: 0;
    & .c-hero__body {
      margin: 0 auto;
      max-width: none;
    }
    & .c-hero__heading {
      max-width: 64rem;
      padding: 200px 0 70px;
      margin: 0 auto;
      text-align: center;
    }
    & .c-card--form {
      margin-bottom: 150px;
      @include respond(phone) {
        margin-bottom: 100px;
      }
    }
  }
  &--support {
    display: block;
    padding-bottom: 0;
    z-index: 10;
    & .c-hero__body {
      margin: 0 auto;
      padding: 200px 0 150px;
      max-width: none;
      @include respond(phone) {
        padding-bottom: 100px;
      }
    }
    & .c-hero__heading {
      max-width: 64rem;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 60px;
    }
  }
}

.c-hero__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 48px;
  transition: 0.6s ease-in;
  z-index: 3;
  &--blue {
    background-color: #eaf6fc;
  }
  &--offwhite {
    background: #f9fbfc;
  }
  &--green {
    background-color: #f1fef4;
  }
  @include respond(phone) {
    display: block;
    position: relative;
  }
  & .l-container {
    @include respond(phone) {
      display: block;
    }
  }
}
.c-hero__video-summary {
  text-align: right;
  display: -ms-flexbox;
  display: flex;
  width: 450px;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.5s ease-in;
  @include respond(phone) {
    opacity: 1;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    padding-top: 30px;
    margin-top: 30px;
    display: block;
    text-align: left;
  }
  &:hover .c-button {
    transform: scale(1.1);
    box-shadow: -2px 1px 5px 0px rgba(0, 0, 0, 0.05),
      -1px 2px 2px rgba(0, 0, 0, 0.08);
  }
  & p {
    font-weight: 500;
    margin: 0;
  }
  & .c-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #0ba4db;
    margin: 0 0 0 10px;
    padding: 0;
    -webkit-appearance: none;
    transition: all 0.25s cubic-bezier(0.17, 0.635, 0.54, 1.435);
    will-change: box-shadow;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    pointer-events: none;
    & svg {
      padding-left: 0.6px;
      pointer-events: none;
    }
  }
  & .u-mobile-only .c-button--reset {
    padding: 0;
    outline: 0;
    height: auto;
    background: none;
    -webkit-appearance: none;
    line-height: 1;
    color: #0ba4db;
    margin-top: 10px;
    font-size: 1.6rem;
    @include respond(phone) {
      padding: 10px 0;
    }
  }
  & .u-mobile-only .c-button--reset svg > path {
    fill: #0ba4db;
  }

  //  @media screen and (max-width: 600px) {
  //    & .u-mobile-only .c-button--reset {

  //    }
  //  }
  & svg > path {
    fill: white;
  }
}

.c-hero__logos {
  -ms-flex: 1;
  flex: 1;
  @include respond(phone) {
    display: inline-block;
    width: 100%;
  }
  & p {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 0 12px;
  }
  & .c-logo {
    width: auto;
    margin: 0 24px 0 0;
    float: left;
    @include respond(phone) {
      margin-right: 15px;
    }
  }
}

.c-hero__media {
  width: 100%;
  height: 80%;
  transform: translateX(50px) translateY(150px);
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform ease-in-out 0.5s;
  position: relative;
  z-index: 2;
  &:before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    border: dashed 2px rgba(0, 0, 0, 0.1);
  }
}
.c-hero__label {
  display: inline-block;
  display: inline-block;
  border-radius: 4px;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0.5;
  .l-section--green & {
    color: rgba(1, 27, 51, 0.9);
  }
  .l-section--blue & {
    color: rgba(1, 27, 51, 0.9);
  }
}

.c-section-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-repeat: no-repeat;
  }
  .c-hero--blue & {
    opacity: 0.2;
  }
  .c-hero--blue &:before {
    -webkit-filter: hue-rotate(900deg) invert(0.5);
    filter: hue-rotate(900deg) invert(0.5);
  }
  &--straight:before {
    background-image: url("/assets/img/patterns/straight-pattern.png");
    background-size: auto 200px;
    background-repeat: repeat-x;
  }
  &--curved {
    height: 400px;
    background-size: auto 350px;
  }
  &--curved:before {
    background-size: inherit;
    background-image: url("/assets/img/patterns/curved-pattern.png");
    background-position: 0 50px;
    background-repeat: repeat-x;
  }
  .l-section--hero &--curved {
    top: 25%;
  }
  .l-section--blue &--curved:before {
    background-image: url("/assets/img/patterns/curved-pattern-blue.png");
  }
  &--curved.u-animate--play {
    animation: moveCurve linear 3s;
    @include respond(phone) {
      animation: moveCurve linear 1s;
    }
  }
  &--circular:before {
    background-image: url("/assets/img/patterns/circular-pattern.png");
    background-size: 600px 600px;
    background-position: -300px 0;
  }
  .l-section--blue &--circular:before {
    background-image: url("/assets/img/patterns/circular-pattern-blue.png");
  }
  .l-section--white &--circular:before,
  .l-section--offwhite &--circular:before {
    -webkit-filter: hue-rotate(800deg) invert(0.4);
    filter: hue-rotate(800deg) invert(0.4);
    opacity: 0.1;
  }
  &--circular-right:before {
    top: -100px;
    background-size: 700px 700px;
    background-position: calc(100% + 200px);
  }
  &--circular-bottom:before {
    background-size: 600px 600px;
    background-position: 50% calc(100% + 480px);
  }
  .l-section--blue &--checked {
    opacity: 0.3;
  }
  &--checked:before {
    background-image: url("/assets/img/patterns/checked-pattern-blue.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    @include respond(phone) {
      background-size: auto;
      background-repeat: repeat-y;
    }
  }
}
// @media screen and (max-width: 600px) {
//   .c-section-pattern--curved.u-animate--play {
//   }
// }

// @media screen and (max-width: 600px) {
//   .c-section-pattern--checked:before {

//   }
// }

.c-section-header {
  position: relative;
  margin-bottom: 50px;
  &--spaced-top {
    margin-top: 100px;
  }
  @include respond(phone) {
    margin-top: 50px;
  }
  &--spaced-bottom {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 600px) {
  .c-section-header--spaced-bottom {
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 980px) {
  .c-section-header {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .c-section-header {
    margin-bottom: 50px;

    display: block;
  }
}
.c-section-header__body {
  max-width: 64rem;
  width: 60%;
}
@media screen and (max-width: 600px) {
  .c-section-header__body {
    width: 100%;
  }
}
.c-section-header--center .c-section-header__body {
  margin: 0 auto;
  text-align: center;
}
.c-section-header--right .c-section-header__body {
  margin-left: auto;
  text-align: right;
}
.c-section-header__cta {
  margin-top: 24px;
}
.c-section-header--caption {
  margin: 0 100px 0 0;
}
@media screen and (max-width: 600px) {
  .c-section-header--caption {
    margin-right: 0;
  }
}

.c-feature {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 150px;
}
@media screen and (max-width: 600px) {
  .c-feature {
    display: block;
    margin-bottom: 50px;
  }
}
.c-feature:last-child {
  margin-bottom: 0;
}
.c-feature__left,
.c-feature__right {
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .c-feature__left,
  .c-feature__right {
    display: block;
    width: 100%;
    margin-top: 50px;
  }
}
.c-feature__left {
  margin-right: 50px;
  -ms-flex-align: center;
  align-items: center;
}
.c-feature--reversed .c-feature__left {
  -ms-flex-order: 2;
  order: 2;
  margin-left: 50px;
  margin-right: 0;
}
@media screen and (max-width: 600px) {
  .c-feature--reversed .c-feature__left {
    margin: 0;
  }
}
.c-feature__right {
  -ms-flex-align: center;
  align-items: center;
}
.c-feature--reversed .c-feature__right {
  -ms-flex-align: center;
  align-items: center;
}
.c-feature__body {
  width: 100%;
  max-width: 500px;
}
.c-feature__text {
  margin-bottom: 10px;
}
.c-feature__text p {
  font-size: 1.9rem;
  line-height: 1.5;
  letter-spacing: -0.01em;
}
@media screen and (max-width: 600px) {
  .c-feature__text p {
    font-size: 1.7rem;
  }
}
.c-feature__benefits {
  margin: 30px 0;
}
.c-feature__entry {
  margin-bottom: 50px;
}
.c-feature__entry:last-of-type {
  margin-bottom: 0;
}
.c-feature__media {
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;
}
.c-feature__media--small .c-feature__image,
.c-feature__media--small .c-feature__video {
  transform: scale(0.4);
}
.c-feature__media--medium .c-feature__image,
.c-feature__media--medium .c-feature__video {
  transform: scale(0.8);
}
.c-feature__media figcaption {
  position: absolute;
  width: 100%;
}
.c-feature__image,
.c-feature__video {
  position: relative;
}
.c-feature__image figcaption,
.c-feature__video figcaption {
  padding: 12px;
  padding-left: 2px;
  font-size: 1.2rem;
  color: rgba(87, 111, 127, 0.8);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: rgba(87, 111, 127, 0.95);
}
.c-feature--reversed .c-feature__image figcaption,
.c-feature--reversed .c-feature__video figcaption {
  text-align: left;
}
.c-feature__image img,
.c-feature__image video,
.c-feature__video img,
.c-feature__video video {
  max-width: 100%;
  vertical-align: middle;
}
.c-feature__image img,
.c-feature__video img {
  border-radius: 4px;
  transition: all 0.5s;
}
@media screen and (max-width: 600px) {
  .c-feature__image video,
  .c-feature__video video {
    display: none;
  }
}
.c-feature__image--small-radius img,
.c-feature__video--small-radius img {
  border-radius: 6px;
}
.c-feature__image--dash:after,
.c-feature__video--dash:after {
  content: "";
  position: absolute;
  left: 24px;
  top: 24px;
  height: 100%;
  border-radius: 6px;
  width: 100%;
  border: 1.2px dashed rgba(59, 183, 94, 0.5);
}
.c-feature__image--dash__group,
.c-feature__video--dash__group {
  transform: translateX(24px) translateY(24px);
}
.c-feature__image--dash__group.u-animate-in-view--play,
.c-feature__video--dash__group.u-animate-in-view--play {
  transform: translateX(0) translateY(0);
}
.c-feature--reversed .c-feature__image--dash__group.u-animate-in-view--play,
.c-feature--reversed .c-feature__video--dash__group.u-animate-in-view--play {
  transform: translateX(48px) translateY(0);
}
.c-feature__image--ring:after,
.c-feature__video--ring:after {
  content: "";
  position: absolute;
  left: 50px;
  top: -50px;
  width: 250px;
  height: 250px;
  background-image: url("/assets/img/patterns/ring-xs.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  opacity: 0.1;
}
.c-feature--reversed .c-feature__image--ring::after,
.c-feature--reversed .c-feature__video--ring::after {
  left: auto;
  right: -50px;
}
.c-feature__subscript {
  font-size: 2.8rem;
  font-weight: 700;
  font-family: "Boing", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: rgba(1, 27, 51, 0.2);
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.c-feature__cta {
  margin-bottom: 24px;
}
.c-feature__cta .c-button--link {
  font-size: 1.6rem;
}
.c-feature-testimonial {
  margin-top: 15px;
}
.c-feature-testimonial__message {
  padding: 6px 20px;
  background-color: #f9fbfc;
  border-radius: 4px;
  border: 1px solid rgba(1, 27, 51, 0.06);
  box-shadow: 0px 1px 2px rgba(1, 27, 51, 0.02);
  position: relative;
  margin-bottom: 24px;
  max-width: 450px;
}
.c-feature-testimonial__message::before,
.c-feature-testimonial__message::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom: 0;
}
.c-feature-testimonial__message::before {
  bottom: -17px;
  left: 21px;
  border-top-color: rgba(1, 27, 51, 0.06);
  border-width: 16px;
}
.c-feature-testimonial__message::after {
  bottom: -15px;
  left: 22px;
  border-top-color: #f9fbfc;
  border-width: 15px;
}
.l-section--offwhite .c-feature-testimonial__message {
  background-color: white;
}
.l-section--offwhite .c-feature-testimonial__message::after {
  border-top-color: white;
}
.c-feature-testimonial__author {
  padding-left: 10px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
}
.c-feature-testimonial__author-name {
  font-family: "Boing", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.1;
  margin-bottom: 2px;
  font-size: 1.8rem;
}
.c-feature-testimonial__author-role {
  font-size: 1.2rem;
}
.c-feature-testimonial__author-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f4f7f9;
  margin-right: 12px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
}
.c-feature-testimonial__author-image > img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}
.c-feature-testimonial__author-image--sm {
  width: 48px;
  height: 48px;
}
.c-feature-testimonial__meta {
  font-size: 1.4rem;
}

.l-section--blue .c-testimonial,
.l-section--green .c-testimonial {
  background: rgba(255, 255, 255, 0.85);
}
.c-testimonial .c-card__header {
  height: 16px;
  margin: 0 0 12px;
}
.c-testimonial .c-card__body {
  margin: 0 0 12px;
  margin: 0;
  -ms-flex: 1;
  flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.c-testimonial__company {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  display: flex;
}
.c-testimonial__company .c-logo {
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.c-testimonial__text {
  margin: 32px 0 16px;
  margin: 32px 0;
}
.c-testimonial__author {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}
.c-testimonial__author-name {
  font-family: "Boing", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.1;
  margin-bottom: 4px;
  font-size: 1.8rem;
}
.c-testimonial__author-role {
  font-size: 1.3rem;
}
.c-testimonial__author-image {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #eaf6fc;
  margin-right: 12px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
}
.c-testimonial__author-image > img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}
.c-testimonial__author-image--sm {
  width: 50px;
  height: 50px;
}
.c-testimonial__meta {
  font-weight: normal;
  font-size: 1.4rem;
  color: #3d5e69;
}
.c-testimonial__footnote {
  font-size: 1.4rem;
  color: #74848a;
  line-height: 1.5;
}
.c-testimonial-block {
  margin-bottom: 30px;
}

.c-card {
  overflow: hidden;
  height: 100%;
  border-radius: 6px;
  border: 1px solid #f0f2f3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 48px 32px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.02);
  background: white;
  position: relative;
  z-index: 2;
}
@media screen and (max-width: 600px) {
  .c-card {
    padding: 32px 24px;
  }
  .c-card:not(last-child) {
    margin-bottom: 20px;
  }
}
.c-card--padded {
  padding: 72px 32px;
}
.c-card--centered {
  text-align: center;
}
.c-card:hover {
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.05);
}
.c-card__icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  height: 80px;
  margin-top: -10px;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 30px;
  position: relative;
  transition: 0.3s all;
  width: 100%;
  width: -moz-available;
  width: -webkit-stretch;
  width: -webkit-fill-available;
  width: stretch;
}
.c-card__icon > img {
  max-height: 100%;
}
.c-card__footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-top: 20px;
  transform: translateY(24px);
}
.c-card__link {
  font-size: 1.6rem;
  font-weight: 500;
  color: #3bb75e;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
}
.c-card__body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.c-card--article .c-card__body > p {
  margin-top: 0;
  margin-bottom: auto;
}
.c-card--article.c-card--engineering {
  padding: 32px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.06);
}
.c-card--article.c-card--engineering .c-card__author {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 24px;
  border-top: 1px solid rgba(189, 222, 244, 0.2);
  padding-top: 24px;
}
.c-card--article.c-card--engineering .c-card__author-name {
  font-family: "Boing", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  line-height: 1.1;
  margin-bottom: 2px;
  font-size: 1.8rem;
}
.c-card--article.c-card--engineering .c-card__author-role {
  font-size: 1.3rem;
}
.c-card--article.c-card--engineering .c-card__author-image {
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background-color: #eaf6fc;
  margin-right: 12px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  overflow: hidden;
  display: -ms-flexbox;
  display: flex;
}
.c-card--article.c-card--engineering .c-card__author-image > img {
  -o-object-fit: cover;
  object-fit: cover;
  max-width: 100%;
}
.c-card--article.c-card--engineering .c-card__author-image--sm {
  width: 48px;
  height: 48px;
}
.c-card--s {
  max-width: 700px;
  margin: 0 auto;
}
.c-card--sm {
  max-width: 540px;
  margin: 0 auto;
  padding: 35 30;
}
.c-card--sm header {
  margin-bottom: 3rem;
}
.c-card--sm header h1 {
  font-size: 2.6rem;
  line-height: 3rem;
  margin-bottom: 0;
}
.c-card--sm header p {
  margin-top: 10px;
  line-height: 2.4rem;
}
.c-card-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
}
.c-card-pattern:before,
.c-card-pattern:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-repeat: no-repeat;
}
.c-card-pattern--straight {
  height: 400px;
}
.c-card-pattern--straight:before,
.c-card-pattern--straight:after {
  background-image: url("/assets/img/patterns/straight-pattern.png");
  -webkit-filter: hue-rotate(900deg) invert(0.5);
  filter: hue-rotate(900deg) invert(0.5);
}
.c-card-pattern--curved {
  height: 800px;
}
@media screen and (max-width: 600px) {
  .c-card-pattern--curved {
    height: 400px;
  }
}
.c-card-pattern--curved:before,
.c-card-pattern--curved:after {
  background-size: 90% auto;
  background-image: url("/assets/img/patterns/curved-pattern.png");
  background-position: 0 -50%;
  animation-duration: 1000s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-filter: hue-rotate(40deg) invert(0.2);
  filter: hue-rotate(40deg) invert(0.2);
}
.c-card-pattern--curved:before {
  animation-name: curved-pattern-animation-before;
  left: -100%;
}
.c-card-pattern--curved:after {
  animation-name: curved-pattern-animation-after;
}
@media screen and (max-width: 600px) {
  .c-card-pattern--curved:before,
  .c-card-pattern--curved:after {
    animation: none;
  }
}
.c-card-pattern--circle {
  width: 600px;
  height: 600px;
  opacity: 0.2;
  left: -50%;
  top: -150%;
}
.c-card-pattern--circle:before {
  background-image: url("/assets/img/patterns/circular-pattern.png");
  background-size: 100% auto;
  background-position: 0 100%;
  -webkit-filter: hue-rotate(900deg) invert(0.5);
  filter: hue-rotate(900deg) invert(0.5);
  animation: spin 300s infinite;
}

.c-signup {
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0 0;
}
@media screen and (max-width: 600px) {
  .c-signup {
    display: block;
    padding: 0;
  }
}
.c-signup__left {
  width: 100%;
  max-width: 600px;
}
@media screen and (max-width: 600px) {
  .c-signup__left {
    text-align: center;
    margin-bottom: 50px;
  }
}
.c-signup__left > p {
  margin-bottom: 20px;
}
.c-signup__right {
  -ms-flex: 1;
  flex: 1;
  width: 300px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .c-signup__right {
    width: 100%;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.c-footer__row {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 48px;
}
@media screen and (max-width: 750px) {
  .c-footer__row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px;
  }
}
.c-footer__row--no-padder {
  padding: 0;
}
.c-footer__row:last-child {
  padding-top: 48px;
  margin-bottom: 0;
  border-top: 1px solid rgba(240, 242, 243, 0.85);
}
@media screen and (max-width: 600px) {
  .c-footer__row:last-child {
    padding-top: 24px;
  }
  .c-footer__row:last-child .c-footer-menu__group {
    display: block;
  }
  .c-footer__row:last-child .c-footer__column {
    margin-bottom: 30px;
  }
  .c-footer__row:last-child .c-footer__column:last-child {
    margin-bottom: 0;
  }
}
.c-footer__column {
  -ms-flex: 0 1 33.33%;
  flex: 0 1 33.33%;
  padding: 0 16px;
  transition: 0.4s;
}
@media screen and (max-width: 750px) {
  .c-footer__column:last-of-type {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 600px) {
  .c-footer__column {
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
  }
  .c-footer__column:last-of-type {
    margin-bottom: 0;
  }
}
.c-footer__group {
  margin-bottom: 20px;
}
@media screen and (max-width: 600px) {
  .c-footer__group {
    margin-bottom: 0;
  }
  .c-footer__group .c-footer__header:before {
    display: block;
  }
  .c-footer__group .c-footer-list {
    max-height: 0;
  }
}
.c-footer__header {
  position: relative;
  color: #011b33;
  display: inline-block;
  font-size: 1.8rem;
}
.c-footer__header--muted {
  color: #3d5e69;
  font-weight: 500;
}
.c-footer__header:before {
  display: none;
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  top: 50%;
  transform: translateY(-50%) rotate(0);
  border-style: solid;
  border-width: 3px 0 3px 5.2px;
  border-color: transparent transparent transparent #011b33;
  transition: ease-in-out 0.1s transform;
}
@media screen and (max-width: 600px) {
  .c-footer__header {
    margin-bottom: 16px;
    display: block;
  }
  .c-footer__header--active:before {
    transform: translateY(-50%) rotate(90deg);
  }
}
.c-footer-list {
  margin-bottom: 48px;
}
@media screen and (max-width: 600px) {
  .c-footer-list {
    overflow: hidden;
    padding-right: 16px;
    margin-bottom: 8px;
    transition: max-height 0.2s ease-out;
  }
}
.c-footer-list:last-of-type {
  margin-bottom: 0;
}
.c-footer-list__item {
  color: rgba(1, 27, 51, 0.9);
  margin-bottom: 6px;
  line-height: 1.6;
  text-transform: capitalize;
}
@media screen and (max-width: 600px) {
  .c-footer-list__item {
    margin-bottom: 8px;
  }
  .c-footer-list__item:last-child {
    margin-bottom: 16px;
  }
}
.c-footer-list__item a:hover {
  color: #0ba4db;
}
.c-footer-list__item--contact {
  color: #0ba4db;
  text-transform: none;
}
.c-footer-list__item--contact a:hover {
  color: #0980aa;
}
.c-footer-list__item--lowercase {
  text-transform: lowercase;
}
.c-footer-list--social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.c-footer-list--social .c-footer-list__item {
  padding-right: 20px;
  margin-bottom: 0;
}
.c-footer-list--social .c-footer-list__item svg {
  max-width: 20px;
  display: -ms-flexbox;
  display: flex;
  vertical-align: middle;
  -o-object-fit: cover;
  object-fit: cover;
  opacity: 0.87;
  transition: 0.25s ease-in-out opacity;
}
.c-footer-list--social .c-footer-list__item svg:hover {
  opacity: 1;
}
.c-footer-list--social .c-footer-list__item:last-child {
  padding-right: 0;
}
.c-footer-footnote {
  display: -ms-flexbox;
  display: flex;
  padding: 24px 16px;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.3rem;
  color: #3d5e69;
  box-shadow: inset 0 1px 1px rgba(240, 242, 243, 0.05);
}
.c-footer-footnote__item {
  position: relative;
}
.c-footer-footnote__item select {
  font-size: 1.2rem;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-family: "Graphik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  height: 48px;
  background-color: transparent;
  border: 0;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px;
  color: #3d5e69;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  width: 100%;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
  font-weight: 500;
  outline: none;
}
.c-footer-footnote__item--countries {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.c-footer-footnote__item--countries .u-flag-icon {
  margin-right: 8px;
  border-radius: 2px;
}
